ul,
ol {
    list-style-type: none;
}

.logo {
    color: #2E2F42;
}

.nav-link {
    color: #2E2F42;
}

.nav-link:hover {
    color: #404BBF;
}

.main-section {
    background-color: #2E2F42;
    /* TODO: replace with img*/
}

.main-title {
    color: #FFFFFF;
}

.main-button {
    color: #FFFFFF;
    background-color: #4D5AE5;

}

.main-button:hover {
    color: #FFFFFF;
    cursor: pointer;
    background-color: #404BBF;
}